<p *ngIf="!user">waiting for user data</p>
<div *ngIf="user">

  <h3>Library of {{user.email}} <small><a *ngIf="!showProfile" (click)="toggleProfile()">Edit profile</a></small></h3>

  <div *ngIf="requestsFromMe && requestsFromMe.length > 0">
    <h4>Status of your trade requests:</h4>
    <div *ngFor="let r of requestsFromMe">
      <span class="label label-info">{{r.status}}</span> 
      {{ (bookService.getBook(r.bookId) | async)?.title }}
    </div>
  </div>
  <div *ngIf="requestsByMe && requestsByMe.length > 0">
    <h4>Other users have requested to trade the following of your books:</h4>
      <div *ngFor="let r of requestsByMe">
        {{ (bookService.getBook(r.bookId) | async)?.title }}
        <a (click)="acceptRequest(r)" class="btn btn-xs btn-primary">Accept</a>
        <a (click)="declineRequest(r)" class="btn btn-xs btn-danger">Decline</a>
      </div>
  </div>

  <div *ngIf="showProfile">
    <h4>Edit your profile</h4>
    <label for="name"></label>
    <input [ngFormControl]="name" type="text" class="form-control" id="name">
    <label for="city"></label>
    <input [ngFormControl]="city" type="text" class="form-control" id="city">
    <label for="state"></label>
    <input [ngFormControl]="state" type="text" class="form-control" id="state">
    <br>
    <a (click)="saveProfile()" class="btn btn-primary">Save</a>
    <a (click)="cancel()" class="btn btn-danger">Cancel</a>
  </div>

  <h4>Add a new book</h4>
  <div class="form-group">
    <input [ngFormControl]="searchBook" type="text" class="form-control" id="searchBook" placeholder="Search a book">
  </div>

  <p *ngIf="queryUnderway">Searching for books...</p>
  <app-book-list [books]="searchBooksResults" (bookSelected)="addBook($event)"></app-book-list>

  <h4>All books in your library</h4>

  <div *ngIf="!(books|async) || (books|async).length === 0">You don't have any books in your library yet.</div>

  <div class="row">
    <div *ngFor="let book of (books|async); let i = index">
      <div *ngIf="i%4===0" class="clearfix"></div>
      <div class="col-md-3">

        <bs-panel>
          <bs-header>{{book.title}}</bs-header>
          <bs-body>
            <img *ngIf="book.imageLinks?.thumbnail" class="center-block" [src]="book.imageLinks?.thumbnail">
            <img *ngIf="!book.imageLinks?.thumbnail" class="center-block" src="/open-book-top-view.svg" width="128">
          </bs-body>
          <bs-footer>
            <div style="text-align: center">
              <a [routerLink]="['/book', book.$key]" class="btn btn-primary">Details</a>
              <a (click)="deleteBook(book)" class="btn btn-danger">Delete</a>
            </div>
          </bs-footer>
        </bs-panel>
      </div>
      <!--</div>-->
    </div>
  </div>
</div>